<h1>Sign Up</h1>
  <%form_for :user, '/users/create'  do |f| %>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <br>

    <%= f.label :password %><br />
    <%= f.password_field :password %>
    <br>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
    <p class="centered">
        <%= f.submit "Signup", class: "button radius" %>
    </p>


  <% end %>

