<div class = "center image-wrapper">
  <%= image_tag(@post.image) %>
</div>
<p class="center title-wrapper" id="Home-Top" >
<h3>
<strong>
<%= @post.title %>
<br>
<span class="nav-link">
  <a href="#comment">
  <i class="fi-comment icon-small">Comments</i>
  </a>
</span>
</strong>
</h3>
</p>

<p class="center body-wrapper">
 <%= @post.body %>
</p>
  <%#----<%= @post.comments.inspect %>
  <% if logged_in? %>
    <%= partial 'shared/comment_form', object: @post %>
    <%= partial 'shared/comment', object:@post %>
  <% else %>
    <%=partial 'shared/comment_not_logged_in'%>
<%end%>

