<div class="row">
  <div class="small-6 columns top-links">
  <i class="fi-home"><%=link_to('Home',url('/')) %></i>|
  <i class="fi-archive"><%=link_to('Archive', url_for(:posts, :index)) %></i>|

 
  <% if current_user %>
  <i class="fi-minus-circle">
    <%= link_to "Log out", url_for(:sessions, :destroy) %>
  </i>|
  <%=link_to "<i class=fi-rss></i>".html_safe, url('/posts.rss')%>
  
  <% else %>
    <i class="fi-pencil">
      <%= link_to "Sign up", url_for(:users, :new) %> 
    </i>|
    <i class="fi-unlock">
    <%= link_to "log in", url_for(:sessions, :new) %>
  </i>|
  <% end %>
</div>
  <%= partial '/layouts/search' %>
</div>


