<div class="row display">
  <div class="small-6 columns  top-links">
  <%=link_to "<i class=fi-home></i>".html_safe, url('/')%>
  &nbsp
  <%=link_to "<i class=fi-archive></i>".html_safe, url_for(:posts, :index) ,
    title:"home page"%>
  &nbsp
  <% if current_user %>
  <%=link_to "<i class=fi-unlock></i>".html_safe, url_for(:sessions, :destroy)%>
  &nbsp
  <%=link_to "<i class=fi-rss></i>".html_safe, url('posts.rss')%>
  &nbsp
      <%=link_to "<i class=fi-torso></i>".html_safe, url_for(:users,:edit, id:current_user)%>
  <% else %>
      <%=link_to "<i class=fi-pencil></i>".html_safe, url_for(:users,:new)%>
  &nbsp
      <%=link_to "<i class=fi-lock></i>".html_safe, url_for(:sessions,:new)%>
  <% end %>
  <% if false %>

  <%end%>
  <%if is_admin?(current_user)  %>
  <%=link_to "<i class=fi-wrench></i>".html_safe, url('/admin')%>
  <%end%>
</div>
  <%= partial '/layouts/search' %>
</div>


