<div class="row">
  <div class="small-6 columns">
  <i class="fi-home">&nbsp<%=link_to('Home',url('/')) %></i>
  <i class="fi-archive">&nbsp<%=link_to('Archive', url_for(:posts, :index)) %></i>

 
  <% if current_user %>
  <i class="fi-minus-circle">
    <%= link_to "Log out", url_for(:sessions, :destroy) %>
  </i>
  <% else %>
    <i class="fi-pencil">
      <%= link_to "Sign up", url_for(:users, :new) %> 
    </i>
    <i class="fi-unlock">
    <%= link_to "log in", url_for(:sessions, :new) %>
  </i>

  <% end %>
  <i class="fi-rss">
    <%= link_to "Feed", url('/posts.atom') %>

</i>
</div>
<div class="small-6 columns">
<div class="large-6 columns">
      <div class="row collapse prefix-round">
        <div class="small-3 columns">
          <a href="#" class="button prefix">Go</a>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
        </div>
      </div>
    </div>
</div>


</div>
