<%=partial 'layouts/header'%>
  <%#mast head image  %>
  <% if false %>
    style sheet is app/stylesheets/application
  <% end %>
  <div class="row">
    <div class="small-12 small-centered">
      <div class="mast-head-wraper center">
        <%= image_tag("haveyourdessert.svg") %>
    </div>
  </div>
</div>

<%#menu content  %>
  <div class="row">
    <div class="small-12 small-centered">
      <div class="menu-wrapper center">
          <%=partial 'layouts/menu'%>
  </div>
  </div>
  </div>

<%# this is the main window root is bases/index  %>
<% if false %>
  app/stylesheet/bases
<% end %>

<div class="row">
    <div class="small-12 small-centered">
      <div class="main-wrapper" >
        <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in") }.join.html_safe %>
          <%= yield %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 footer-menu small-centered">
    <div class="footer-wrapper">
        <%=partial 'layouts/footer' %>
</div>
</div>
</div>
  </body>


</html>
