
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <title><%= title(@title) %></title>
    <%= favicon_tag "favicon.ico" %>
    <link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
    <link href='http://fonts.googleapis.com/css?family=Varela' rel=stylesheet />
    <%= stylesheet_link_tag 'application', 'post', 'bases', 'comment', 'mobile', 'recipes','step'%>

    <%= javascript_include_tag 'vendor/jquery', 'vendor/fastclick', 'vendor/jquery.pjax' %>
  </head>
  <body>
<% if false %>
        <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in") }.join.html_safe %>
<% end %>


  <%#mast head image  %>
  <% if false %>
    style sheet is app/stylesheets/application
  <% end %>
  <div class="row">
    <div class="small-12 small-centered">
      <div class="mast-head-wraper center">
        <%= image_tag("have_your_dessert.svg") %>
    </div>
  </div>
</div>

<%#menu content  %>
  <div class="row">
    <div class="small-12 small-centered">
      <div class="menu-wrapper center">
          <%=partial 'layouts/menu'%>
  </div>
  </div>
  </div>

<%# this is the main window root is bases/index  %>
<% if false %>
  app/stylesheet/bases
<% end %>

<div class="row">
    <div class="small-12 small-centered">
      <div class="main-wrapper center">
        <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in") }.join.html_safe %>
          <%= yield %>
          <%= request.path %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 footer-menu small-centered">
    <div class="footer-wrapper center">
        <%=partial 'layouts/footer' %>
</div>
</div>
</div>
  </body>


</html>
